## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# pip install gmaps

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API k
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,74.08,60,39,2.44,scattered clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.13,62,4,6.04,clear sky
2,2,Yenagoa,NG,4.9247,6.2642,72.90,86,94,3.65,overcast clouds
3,3,Nouadhibou,MR,20.9310,-17.0347,69.98,97,100,6.64,moderate rain
4,4,Punta Arenas,CL,-53.1500,-70.9167,35.71,75,0,13.80,clear sky

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maxium temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maxium temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                202
City                   202
Country                202
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df

In [16]:
clean_df.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description'],
      dtype='object')

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Faanui,PF,79.66,clear sky,-16.4833,-151.7500,
11,Hithadhoo,MV,81.41,overcast clouds,-0.6000,73.0833,
16,Bethel,US,79.11,clear sky,41.3712,-73.4140,
20,Bang Saphan,TH,85.68,broken clouds,11.2126,99.5117,
21,Somerset,US,87.69,clear sky,40.5668,-74.5496,
29,Koumac,NC,75.51,overcast clouds,-20.5667,164.2833,
32,Atuona,PF,77.25,scattered clouds,-9.8000,-139.0333,
33,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
41,Tateyama,JP,80.74,overcast clouds,34.9833,139.8667,
42,Mahibadhoo,MV,82.65,overcast clouds,3.7833,72.9667,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found..... skipping.")

Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Faanui,PF,79.66,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Hithadhoo,MV,81.41,overcast clouds,-0.6000,73.0833,Scoop Guest House
16,Bethel,US,79.11,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
20,Bang Saphan,TH,85.68,broken clouds,11.2126,99.5117,Ladawan Boutique Hotel
21,Somerset,US,87.69,clear sky,40.5668,-74.5496,Hilton Garden Inn Bridgewater
29,Koumac,NC,75.51,overcast clouds,-20.5667,164.2833,Le Monitel
32,Atuona,PF,77.25,scattered clouds,-9.8000,-139.0333,Villa Enata
33,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
41,Tateyama,JP,80.74,overcast clouds,34.9833,139.8667,Tateyama Seaside Hotel
42,Mahibadhoo,MV,82.65,overcast clouds,3.7833,72.9667,Omadhoo Inn

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}  and  {Max Temp} Â°F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))